@import "variables.scss";
@import "mixins.scss";


.page-wrapper{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
header{
 @extend .page-wrapper ;
}


body{
    margin:0px;
}
a{
    color: black;
    font-family: $typo; 

    &:hover{
        background: lightblue;
    }
}
p{
    font-family: $typo;
}

.summary {
    @include camion (white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include size;
}
.preamble {
    @include centre;
    @include size;
}

.main, .explanation{
 @include centre;
 @include size;
}
.participation{
    @include centre;
    @include size;
}
.benefits{
    @include centre;
    @include size;
}
.requirements{
    @include centre;
    @include size;
}



h1{
    background-color: $myVariable;
    display: flex;
    justify-content: center;
    font-family: $typo;
    padding: 20px;
    margin: 0px; 
}
h2,h3{
    color: $success;
    font-family: $typo;
}
footer{
    background-color: $myVariable;
    padding: 20px;
}

.wrapper{
    display: flex;
    justify-content: space-around;

    &-danger{
        background: $danger;
        color: $light;
    }
}